@media only screen and (max-width:720px){
    body{
        left: 0 !important;
    }
    .div1{
        width: 380px !important;
        height: 300px !important;
        display: grid !important;
        animation:visibl 6s !important;
        
        position: relative !important;
        
        font-size:10px !important;
    }
    @keyframes visibl{
        0%{opacity:0 ;}
        100%{opacity:1;}
    }
    #head{
        font-size:30px !important;
        position: relative !important;
        top: -26px !important;
    }
    #DarkMode1{
        font-size:13px !important;
        position: relative !important;
        left:100px !important;
        width:150px !important;
        height: 50px !important;
        top:-30px !important;
    
        text-align-last: center !important;
    }
    #DarkMode{
        font-size:15px !important;
        
    }
    #page2{
        display:grid !important;
        
    }
    #animation1{
        position: relative !important;
        
        animation:visibl1 5s !important;
    }
    @keyframes visibl1{
        0%{left:-380px;}
        50%{left:-130px;}
        100%{left:0;}
    }
    #animation2{
        position: relative !important;
        
        animation:visibl2 5s !important;
    }
    @keyframes visibl2{
        0%{right:-380px;}
        50%{right:-130px;}
        100%{right:0;}
    }
    #animation3{
        position: relative !important;
        
        animation:visibl3 5s !important;
    }
    @keyframes visibl3{
        0%{right:-380px;}
        50%{right:-130px;}
        100%{right:0;}
    }
    #animation4{
        position: relative !important;
        
        animation:visibl4 5s !important;
    }
    @keyframes visibl4{
        0%{left:-380px;}
        50%{left:-130px;}
        100%{left:0;}
    }
    .div2{
        display:grid !important;
        height:500px !important;
        width:380px !important;
    }
    #SI{
        width:380px !important;
    }
    #input{
        display: grid !important;
        
    }
    #Sname{
        width:300px !important;
    }
     #input1{
        display: grid !important;
        
    } 
    #SId{
        width:300px !important;
    }
    #input2{
        display: grid !important;
        
    }
    #Sattendence{
        width:300px !important;
    }
    #hat{
        position: relative !important;
        left:-6px !important;
        top:-20px !important;
        font-size: 70px !important;
    }
    #SMD{
        position: relative !important;
        text-align: center !important;
    }
    #SSM{
        width:380px !important;
    }
    .div3{
        width:380px !important;
        display: grid !important;
        height: 400px !important;
    }
    #update{
        top:10px !important;
        width:200px !important;
        left:5px !important;
    }
    #Subname{
        width:300px !important;
    }
    #Marks{
        width:300px !important;
    }
    .page3{
        display:grid !important;
    }
    .div4{
        width:380px !important;
    }
    #table1{
        width:380px !important;
        column-gap:1px !important ;
        
    }
    #precuasion{
        width:380px !important;
        height: 40px !important;
    }
    #calculate{
        width:200px !important;
        font-size: 16px !important;
    }
    #reset{
        width:150px !important;
        font-size: 16px !important;
    }
    #RS{
        width:380px !important;
    }
   .div5{
       width:380px !important;
       
   }
   #head1{
       width:300px !important;
       left:20px !important;
   }
   #headding{
       width: 300px !important;
       position:relative !important;
       left:20px !important;
   }
   #head4{
       width:380px !important;
       
   }
   #headding1{
       width: 300px !important;
       position:relative !important;
       left:20px !important;
   }
   #head2{
       width:300px !important;
       position:relative !important;
       left:20px !important;
   }
   #headding2{
       width: 300px !important;
       position:relative !important;
       left:20px !important;
   }
   #head3{
       width:300px !important;
       position:relative !important;
       left:20px !important;
   }
   .div6{
       animation:visibl5 6s !important;
       animation-delay: 2s !important;
   }
   @keyframes visibl5{
       0%{opacity:0;}
       100%{opacity:1;}
   }
   .div7{
       width: 380px !important;
       height: 100px !important;
       animation:visibl6 6s !important;
   }
   @keyframes visibl6{
       0%{opacity:0;}
       100%{opacity:1;}
   }
   #tm{ 
       left:50px !important;
       
   }
   #avg{
       left:50px !important;
   }
   #grad{
       left:50px !important;
   }
   #ts{
        left:50px !important;
   }
   #att{
       left:50px !important;
   }
   #status{
       left:50px !important;
   }
   #topsub{
       left:50px !important;
   }
   #passsub{
       left:50px !important;
   }
   #failsub{
       left:50px !important;
   }
   

}
.div7{
       
       animation:visibl6 6s ;
}
@keyframes visibl6{
       0%{opacity:0;}
       100%{opacity:1;}
}
#animation1{
        position: relative ;
        
        animation:visibl1 5s ;
}
@keyframes visibl1{
        0%{left:-700px;}
        50%{left:-350px;}
        100%{left:0;}
}
#animation2{
        position: relative ;
        
        animation:visibl2 5s ;
}
 @keyframes visibl2{
        0%{right:-700px;}
        50%{right:-350px;}
        100%{right:0;}
}
#animation3{
        position: relative ;
        
        animation:visibl3 5s ;
}
@keyframes visibl3{
        0%{right:-700px;}
        50%{right:-350px;}
        100%{right:0;}
}
#animation4{
        position: relative ;
        
        animation:visibl4 5s ;
}
 @keyframes visibl4{
        0%{left:-700px;}
        50%{left:-350px;}
        100%{left:0;}
}
.div7{
       
       animation:visibl6 6s;
}
@keyframes visibl6{
       0%{opacity:0;}
       100%{opacity:1;}
}
.div6{
       
       animation:visibl6 6s;
}
@keyframes visibl5{
       0%{opacity:0;}
       100%{opacity:1;}
    
}
#calculate{
    border-radius: 6px;
}
#calculate:hover{
    width: 240px;
    height: 50px;
}
#reset{
    border-radius: 6px;
}
#reset:hover{
    width: 240px;
    height: 50px;
}







